.bulb-1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: grey;
}
.bulb-2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: grey;
}
.fan {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: grey;
}
